*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(129, 129, 160);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    color: rgb(246, 78, 168);
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) /-2);
    margin-right: calc(var(--width) /-2);
    z-index: 10;
}

.black.active {
    background-color: #333;
}