*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.container-piano-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.piano-container {
    padding: 1rem;
    background-color: rgb(94, 25, 25);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    color: rgb(144, 55, 37);
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border: 2px solid black;
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) /-2);
    margin-right: calc(var(--width) /-2);
    z-index: 10;
}

.black.active {
    background-color: #333;
}

.notes {
    background-color: #fdf5e6;
    padding: 2rem 4rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    width: 100%;
    text-align: center;
}

.notes h1 {
    color: rgb(94, 25, 25);
}

.notes p {
    line-height: 1.6;
    color: #3b312b;
}